<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <link rel = "stylesheet" type = "text/css" href = "css/index.css" />
  </head>
  <body>
      <div class="sketch-holder" id="sketch-holder"></div>
      <script src="js/UI_Objects/UIElement.js"></script>
      <script src="js/UI_Objects/View.js"></script>
      <script src="js/UI_Objects/Container.js"></script>
      <script src="js/UI_Objects/Slider.js"></script>
      <script src="js/UI_Objects/Icon.js"></script>
      <script src="js/sketch.js"></script>
  </body>
</html>
